@import 'variables';
footer {
  background-color: $gray;
  text-align: center;
  img {
    height: 64px;
  }

  li {
    color: $white;
    display: inline-block;
    font-size: 18px;
    list-style-type: none;
    margin-left: 35px;
  }

  a {
    color: $white;
    &:hover {
      color: $pure-pink;
      text-decoration: none;
      transition: all 1s cubic-bezier(0.53, 0.1, 0, 0.91);
    }
  }
  .app-links{
    img {
      height: auto;
      width: auto;
    }
  }

}
