@import 'variables';

.basic-header {
  background-blend-mode: overlay;
  background-image: url('../images/header-img.png'), linear-gradient(45deg, #6b6b6b, #2f2e2e);
  background-position: initial;
  background-size: cover;
  margin-bottom: 50px;
  min-height: 31px;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: #ba97ff;
      transition: all 1s cubic-bezier(0.53, 0.1, 0, 0.91);
    }
  }

  .logo {
    height: 64px;
    width: 64px;
  }

  li {
    color: $white;
    display: inline-block;
    font-size: 19px;
    list-style-type: none;
    margin-left: 20px;
  }

  .navbar-xs-sm {
    #logo {
      margin-top: -22px;
    }

    .navbar-nav {
      margin-top: 5px;
    }
  }
}

.btn-new-worker-change-partner {
  background: linear-gradient(45deg, #337ab7, #4b0d57);
  border: 0;
  border-radius: 23px;
  font-size: 17px;
  font-weight: bold;
  height: 50px;
  outline: none;
  width: 221px;
}

.nav-btns-menu-phone {
  background: linear-gradient(45deg, #337ab7, #4b0d57);
  border-radius: 18px;
  a {
    color: $white !important;
  }
}

.nav-menu-to-phone {
  background: none;
  border: 0;
}

.modal-dialog {
  margin: auto;
  //сделать медиа ширину 320 под телефон
  margin-top: 100px !important;
  width: 400px !important;
}

.worker-partner-modal-form {
  .modal-dialog{
    width: 24%;
  }

  .modal-header, .modal-footer {
    border: 0;
    text-align: center;
  }

  .btn-submit-worker-partner {
    background-color: #00a1ff;
    border-radius: 9px;
    font-weight: bold;
    width: 50%;
  }

  .modal-content {
    background: linear-gradient(45deg, #1957e5, #8cf4ff);
    border: 0;
  }

  .modal-title {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .form-worker, .form-partner {
    label {
      color: #fff;
      font-size: 16px;
    }

    .form-group {
      text-align: left;
    }
    text-align: center;
    .input-name {
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      padding: 6px 12px;
      width: 100%;
    }
  }
}

.change-partner {
  background: linear-gradient(45deg, #7d4688, #337ab7);
}
