@media (max-width: 2559px) {
  .FAQ {
    height: 225px;
  }
}
@media (max-width: 1400px) {
  .FAQ {
    height: 225px;
  }
}
@media (max-width: 1199px) {
  .FAQ {
    height: 300px;
  }
}
	@media (max-width: 1024px) {
    .FAQ {
      height: 300px;
    }
}

@media (max-width: 991px) {
  .FAQ {
    height: 150px;
  }
}

@media (max-width: 550px) {
  .FAQ {
    height: 190px;
  }
}

@media (max-width: 360px) {
  .FAQ {
    height: 300px;
  }
}

@media (max-width: 320px) {
  .FAQ {
    height: 300px;
  }
}
