@import 'variables';

@media (max-width: 2559px) {
  .FAQ {
    height: 225px;
  }
}
@media (max-width: 1400px) {
  .FAQ {
    height: 225px;
  }
}
@media (max-width: 1199px) {
  .FAQ {
    height: 300px;
  }

  footer {
    li {
      color: $white;
      display: inline-block;
      font-size: 18px;
      list-style-type: none;
      margin: 0 5px;
      text-align: center;
    }

    .number-footer {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .FAQ {
    height: 300px;
  }

  footer {
    li {
      color: $white;
      display: inline-block;
      font-size: 18px;
      list-style-type: none;
      margin: 0 5px;
      text-align: center;
    }

    .number-footer {
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .FAQ {
    height: 150px;
  }

  .basic-header {
    li {
      a { 
        color: #43a0ff;
        text-decoration: none;
        &:hover {
          color: #ba97ff;
        }
      }
      color: $white;
      display: block;
      font-size: 15px;
      list-style-type: none;
    }

    .container {
      width: 100%;
      .navbar-xs-sm {
        padding: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .FAQ {
    height: 190px;
  }

  footer {
    li {
      color: $white;
      display: block;
      font-size: 18px;
      list-style-type: none;
      margin: 15px 0;
      text-align: center;
    }
  }
}

@media (max-width: 360px) {
  .FAQ {
    height: 300px;
  }

  footer {
    li {
      color: $white;
      display: block;
      font-size: 18px;
      list-style-type: none;
      margin: 15px 0;
      text-align: center;
    }
  }
}

@media (max-width: 320px) {
  .FAQ {
    height: 300px;
  }

  footer {
    li {
      color: $white;
      display: block;
      font-size: 18px;
      list-style-type: none;
      margin: 15px 0;
      text-align: center;
    }
  }
}
